<div class="container">
	<div class="row">
		<div class="well">
			<form role="filterCustomer" class="form-horizontal">
				<div class="form-group">
	  				<label class="col-md-3 control-label" for="customername">Customer Name</label>  
	  				<div class="col-md-3">
	  					<input id="customername" name="customername" placeholder="customername" class="form-control input-md" type="text">
	  				</div>
	  				<label class="col-md-3 control-label" for="areaname">Area Name</label>  
	  				<div class="col-md-3">
	  					<input id="areaname" name="areaname" placeholder="area name" class="form-control input-md" type="text">
	  				</div>
 				</div>
 				<div class="form-group">
	  				<label class="col-md-3 control-label" for="lndlineno">Landline No.</label>  
	  				<div class="col-md-3">
	  					<input id="lndlineno" name="lndlineno" placeholder="0431-" class="form-control input-md" type="text">
	  				</div>
	  				<label class="col-md-3 control-label" for="mblno">Mobile No.</label>  
	  				<div class="col-md-3">
	  					<input id="mblno" name="mblno" placeholder="91-" class="form-control input-md" type="text">
	  				</div>
 				</div>
			</form> 
		</div>
	</div>

	
</div>