
<div class="row">
	<div class="col-md-6">
		<h4 class="centered">Area collection trend</h4> 
		<div class="well">
			<img ng-src="img/trend.jpeg"/>
		</div>
	</div>
	<div class="col-md-6">
		<h4 class="centered">Agent collection trend</h4> 
		<div class="well">
			<img ng-src="img/trend.jpeg"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h4 class="centered">Area wise defaulters</h4> 
		<div class="well">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Area</th>
					<th>Total</th>
					<th>Not paid</th>
					<th>Repeat</th>
				</tr>
			</thead>
			<tbody>
				<tr class="danger">
					<td>Kavery Nagar</td>
					<td>150</td>
					<td>70</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Wireless Road</td>
					<td>200</td>
					<td>50</td>
					<td>2</td>
				</tr>
				<tr>
					<td>KK Nagar</td>
					<td>160</td>
					<td>50</td>
					<td>2</td>
				</tr>
				<tr class="info">
					<td>Total</td>
					<td>450</td>
					<td>190</td>
					<td>22</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	<div class="col-md-6">
		<h4 class="centered">Agent wise defaulters</h4> 
		<div class="well">
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Agent</th>
					<th>Total</th>
					<th>Not paid</th>
					<th>Repeat</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Agent1</td>
					<td>150</td>
					<td>70</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Agent2</td>
					<td>200</td>
					<td>50</td>
					<td>2</td>
				</tr>
				<tr  class="danger">
					<td>Agent3</td>
					<td>100</td>
					<td>70</td>
					<td>10</td>
				</tr>
				<tr class="info">
					<td>Total</td>
					<td>450</td>
					<td>190</td>
					<td>22</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
